.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
[class*="col-"]{ /*Para seleccionar todas las clases que empiecen por col-*/
    float: left; /*Esto es para posicionar una columna al lado de la otra*/
    padding: 10px;
}
/* Todas nuestras columnas serían responsive (Que se adaptan a la pantalla) al darlas un % */
.col-1{width: 100%/12;} /*Daría 8.33% , 12 serían el número de columnas*/
.col-2{width: 16.66%;} /*Sería el doble de 8.33% y así en las demás columnas*/
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}